h1{
    color: white;
    text-align: center;
}
#div1{
    background-color: rgb(32, 87, 32);
}
#div2{
    text-align: center;
}
#p1{
    color: red;
}
#inp3{
    color: white;
    background-color: blue;
    border: none;
    width: 60px;
    height: 30px;
} 